@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #75B79E;
    font-size: 56px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.container{
    background-color: red;
    width: 1200px;
    height: 600px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}

li{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

li img{
    width: 100px;
    height: 100px;

}

.hidden{
    display:none;
}

.display-face{
    transition: all .5s;
}

.back-face{
    transform: rotateY(180deg);
}